@import "tailwindcss";

:root {
  --font-geist: "Geist", sans-serif;
}

body {
  font-family: var(--font-geist), Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
}

::-webkit-scrollbar-thumb {
  background: #44403c;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbbf24;
}
